.container{
    height: 100%;
    width: 100%;
    padding: 20px 0;
    display: grid;
    grid-template-columns: repeat(3,30%);
    justify-content: space-around;
    row-gap: 20px;
    box-sizing: border-box;
    position: relative;
}

.loading{
    width: 100%;
    height: 100%;
    position: absolute;
}