.wrapper {
  border: none;
  width: 100%;
  height: 100%;
  font-size: 20px;
  letter-spacing: 1px;
  border-radius: 7px;
  background-color: #428bca;
  color: white;
  cursor: pointer;
  outline: none;
}
