.container {
  padding: 20px 30px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 7px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  p {
    font-family: "Noto Serif Georgian", serif;
  }
}

.info_wrapper{
  display: flex;
  gap: 20px;
  p{
    font-size: 20px;
  }
}


#added {
  background-color: #a7d397;
}

#updated {
  background-color: #f9b572;
}

#deleted {
  background-color: #ea5454bd;
}

.btn_wrapper{
  button{
    background-color: #ea5454bd;
    padding: 10px 20px;
  }
}

.info_inner_wrapper{
  display: flex;
  gap: 20px;
}

@media screen and (max-width: 1080px) {
  .container{
    flex-direction: column;
    justify-content: initial;
    align-items: initial;
  }

  .btn_wrapper{
    margin-top: 30px;
  }
}

@media screen and (max-width: 770px) {
  .info_wrapper{
    display: grid;
    grid-template-columns: repeat(3,30%);
  }

}

@media screen and (max-width: 500px) {
  .info_wrapper{
    grid-template-columns: repeat(2,40%);
  }

}
