.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 0 60px;
  position: relative;
}

.inner_main_container {
  width: 100%;
  height: 80%;
  box-sizing: border-box;
  padding: 0px 50px;
}

.inner_container {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 5px 4px 4px 1px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  box-sizing: border-box;
  padding: 10px;
}

.left_navigator_tab_inner{
  display: none;
}


@media screen and (max-width: 1400px) {
  .container{
    width: 100%;
    height: initial;
  }
  .left_navigator_tab_inner {
    display: initial;
  }
  .navigator_styles{
    width: 100%;
    height: fit-content;
  }
  .inner_main_container{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .left_navigator_tab_outer{
    display: none;
  }
}


@media screen and (max-width: 1080px) {
  .container{
    padding: 0;
  }
  .inner_main_container {
    height: 100%;
    padding: 0 20px;
  }
}

