.container {
  width: 50%;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 5px 4px 4px 1px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  box-sizing: border-box;
  padding: 20px;
}

#title {
  text-align: center;
  font-family: "Noto Serif Georgian", serif;
  font-size: 30px;
  margin-bottom: 10px;
}

.button_wrapper {
  button {
    padding: 10px;
    font-family: "Noto Serif Georgian", serif;
  }
}
